<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="EMIMSConnectionString" connectionString="Data Source=.;Initial Catalog=EMIMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
   
 
  </connectionStrings>
 <appSettings>
  <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
   <add key ="ChartList" value="二氧化碳:传感器1:Sensor4_Chart1.ascx:1:西南区域;
        二氧化碳:传感器2:Sensor4_Chart1.ascx:2:西北区域;
        二氧化碳:传感器3:Sensor4_Chart1.ascx:3:东南区域;
        二氧化碳:传感器4:Sensor4_Chart1.ascx:4:东北区域;
        二氧化碳:传感器5:Sensor4_Chart1.ascx:5:中心区域;
        一氧化碳:传感器7:Sensor4_Chart1.ascx:8;
        一氧化碳:传感器7:Sensor4_Chart1.ascx:9;
        一氧化碳:传感器7:Sensor4_Chart1.ascx:10;
        有机气体:传感器5:Sensor4_Chart1.ascx:5;
        温度:传感器9:Sensor4_Chart1.ascx:9;
        温度:传感器10:Sensor4_Chart1.ascx:10"/>
 </appSettings>
 <system.webServer>
  <validation validateIntegratedModeConfiguration="false" />
  <handlers>
   <remove name="ChartImageHandler" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </handlers>
 </system.webServer>
 <system.web>
		<httpHandlers>
   <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
  </httpHandlers>
  <pages>
   <controls>
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   </controls>
  </pages>
  <compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
	</system.web>
</configuration>
